<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" href="/styles.css">
</head> 

<body>

</div>

 <div class="navbar">
  <a class="active" href="https://ayda-tea.github.io/index.html">Home</a>
  <a href="https://ayda-tea.github.io/LMPTUMainpage.html">LMPTU</a>
  <a href="#musings">Musings</a>
  <a href="#portfolio">Portfolio</a>
  <a href="#socials">Socials</a>
</div> 

<div class="content">
{{ content }}
</div>

<hr>

<div class="footer">
<footer> goodbye slime </footer>
</div>

</body>
</html>
